PORT=5000
MONGO_URI=mongodb+srv://tripathivandana086_db_user:Vandu@3105@cluster0.r0h7tmu.mongodb.net/
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=dilora
CLOUDINARY_API_KEY=298647682596867  
CLOUDINARY_API_SECRET=1Ilozyek0ea0M4BeyN1R2ShRhbI
RAZORPAY_KEY_ID=rzp_test_T574UuQStHzIB1
RAZORPAY_SECRET=7zL2uPHx8FXX0EnTA2u7PnJ4